.decor-header {
    font-size: 6pt;
    color: var(--text-color3);
    opacity: 0.6;
}

.decor-empty {
    color: var(--text-color2) !important;
    font-style: italic;
}

.decor-header.in-payload::before {
    content: "\00a0\2014\2014\2014\2014\2014\2014\2014\2014\2014\2014\00a0in payload\00a0\2014\2014\2014\2014\2014\2014\2014\2014\2014\2014\2014";
}

.decor-header.out-payload::before {
    content: "\00a0\2014\2014\2014\2014\2014\2014\2014\2014\2014\2014\00a0out payload\00a0\2014\2014\2014\2014\2014\2014\2014\2014\2014\2014";
}

.decor-lines {
    margin-left: 10px;
    font-size: var(--font-size);
}

.decor-lines.in-payload::before {
    color: var(--green-color);
    content: "\00ab";
}

.decor-lines.out-payload::before {
    color: var(--yellow-color);
    content: "\00bb";
}

.decor-lines.error, .decor-lines-block.error {
    margin-left: 12px;
    width: 3px !important;
    background-color: var(--red-color);
}

.decor-lines-block {
    margin-left: 12px;
    width: 3px !important;
}

.decor-lines-block.in-payload {
    background-color: var(--green-color);
}

.decor-lines-block.out-payload {
    background-color: var(--yellow-color);
}
